@model E_Commerce.Models.Role

@{
    ViewData["Title"] = "Delete Confirm Access Permission";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
} 

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Access Permission</a>
            <span class="breadcrumb-item active">Delete Confirm</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Delete Confirm</h2>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID: </td>
                        <td class="text-dart font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Role Name: </td>
                        <td class="text-dart font-weight-semibold">@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td class="text-dart font-weight-semibold">@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Delete Confirm: </td>
                        <td>
                            @* không có asp-area và asp-controller thì sẽ tự hiểu là cùng Controller và Area *@
                            <form asp-action="Delete" asp-route-id="@Model.RoleId">
                                <input type="hidden" asp-for="RoleId">
                                <input type="submit" value="Delete Confirm" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
