@model E_Commerce.ModelViews.ChangePasswordViewModel

<div class="myaccount-details">
    <form method="post" asp-controller="UserAccount" asp-action="ChangePassword" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input single-input-half">
                <label>Password Now</label>
                <input asp-for="PasswordNow" type="password">
            </div>
            <div class="single-input single-input-half">
                <label>New password</label>
                <input asp-for="Password" type="password">
            </div>
            <div class="single-input">
                <label>Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password">
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>SAVE CHANGES</span>
                </button>
            </div>
        </div>
    </form>
</div>