@model List<Order>

@if (Model != null && Model.Count() > 0) {
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Order Date</th>
                    <th>Ship Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                @foreach (var item in Model) {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderId</a></td>
                        <td>@item.OrderDate</td>
                        <td>@item.ShipDate</td>
                        <td>@item.TransactStatus.Status</td>
                        <td><a href="javascript:void(0)" class="btn btn-secondary btn-primary-hover"><span>View</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else {
    <p>You haven't created any shipping order yet</p>
}

