@model E_Commerce.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="Register" asp-controller="UserAccount">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Full Name</label>
                                    <input type="text" asp-for="FullName" placeholder="Full Name">
                                    <span asp-validation-summary="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Email Address</label>
                                    <input type="email" asp-for="Email" placeholder="Email Address">
                                    <span asp-validation-summary="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Phone Number</label>
                                    <input type="tel" asp-for="Phone" placeholder="Phone Number">
                                    <span asp-validation-summary="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input type="password" asp-for="Password" placeholder="Password">
                                    <span asp-validation-summary="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                    <span asp-validation-summary="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>