@model E_Commerce.Models.Product

@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Products List</a>
            <span class="breadcrumb-item active">Add Product</span>
        </nav>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdminProducts" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label">Short Description</label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label">Category</label>
                <select class="custom-select" id="catID" name="catID" style="min-width: 220px;" asp-items="@ViewBag.Category">
                    <option value="" disabled selected>--Categories--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Discount</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label class="control-label">Picture</label>
                <input name="fThumb" type="file" asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Video" class="control-label">Video</label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label class=" col-form-label">Date Created</label>
                <input type="date" class="form-control" asp-for="DateCreated" placeholder="DateCreated">
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label class=" col-form-label">Date Modified</label>
                <input type="date" class="form-control" asp-for="DateModified" placeholder="DateModified">
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div> *@
            <div class="form-group d-flex align-item-center">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="BestSellers" checked=""/>
                    <label for="BestSellers"></label>
                </div>
                <label>Best Sellers</label>
            </div>
            <div class="form-group d-flex align-item-center">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="HomeFlag" checked=""/>
                    <label for="HomeFlag"></label>
                </div>
                <label>Home Flag</label>
            </div>
            <div class="form-group d-flex align-item-center">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="Active" checked=""/>
                    <label for="Active"></label>
                </div>
                <label>Active</label>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label">Tags</label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDesc" class="control-label">MetaDesc</label>
                <input asp-for="MetaDesc" class="form-control" />
                <span asp-validation-for="MetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKey" class="control-label">MetaKey</label>
                <input asp-for="MetaKey" class="form-control" />
                <span asp-validation-for="MetaKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label">Units In Stock</label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}