<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/adminassets/images/logo/mylogo1.png">

    <!-- page css -->
    <link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- Core css -->
    <link href="~/adminassets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            @if (User.Identity.IsAuthenticated) {
                @await Html.PartialAsync("_AdminHeaderPartialView")
            }
            <!-- Header END -->

            <!-- Side Nav START -->
            @if (User.Identity.IsAuthenticated) {
                @await Html.PartialAsync("_SideNavPartialView")
            }
            <!-- Side Nav END -->

            <!-- Page Container START -->
            @if (User.Identity.IsAuthenticated) {
                <div class="page-container">
                    
                    <!-- Content Wrapper START -->
                    <div class="main-content">
                        <!-- Khi các file Razor (cshtml) khác sử dụng _AdminLayout sẽ import code vào phần này -->
                        @RenderBody()
                    </div>
                    <!-- Content Wrapper END -->

                </div>
            }
            @* LOG IN *@
            else {
                @RenderBody()
            }
            <!-- Page Container END -->

        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="~/adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/adminassets/js/pages/dashboard-e-commerce.js"></script>

    <!-- Core JS -->
    <script src="~/adminassets/js/app.min.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
