@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Blog Layout</h2>
                        <ul>
                            <li>
                                <a href="index.html">Hom<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Blog Default</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area blog-column-2 section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-item">
                        <div class="blog-img img-zoom-effect">
                            <a href="blog-detail-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/blog/medium-size/2-1-570x485.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta text-dim-gray pb-3">
                                <ul>
                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                    <li>
                                        <span class="comments me-3">
                                        <a href="javascript:void(0)">2 Comments</a>
                                    </span>
                                        <span class="link-share">
                                        <a href="javascript:void(0)">Share</a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title mb-4">
                                <a href="blog-detail-left-sidebar.html">Blog Image Post</a>
                            </h5>
                            <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-6 pt-md-0">
                    <div class="swiper-container single-blog-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img img-zoom-effect">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="~/assets/images/blog/medium-size/2-3-570x485.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                    <a href="javascript:void(0)">2 Comments</a>
                                                </span>
                                                    <span class="link-share">
                                                    <a href="javascript:void(0)">Share</a>
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Blog Gallery Post</a>
                                        </h5>
                                        <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img img-zoom-effect">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="~/assets/images/blog/medium-size/2-2-570x485.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                    <a href="javascript:void(0)">2 Comments</a>
                                                </span>
                                                    <span class="link-share">
                                                    <a href="javascript:void(0)">Share</a>
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Blog Second Gallery Post</a>
                                        </h5>
                                        <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img img-zoom-effect">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="~/assets/images/blog/medium-size/2-1-570x485.jpg" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                    <a href="javascript:void(0)">2 Comments</a>
                                                </span>
                                                    <span class="link-share">
                                                    <a href="javascript:void(0)">Share</a>
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Blog Third Gallery Post</a>
                                        </h5>
                                        <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-6">
                    <div class="blog-item">
                        <div class="ratio ratio-16x9">
                            <iframe allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/182537870&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta text-dim-gray pb-3">
                                <ul>
                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                    <li>
                                        <span class="comments me-3">
                                        <a href="javascript:void(0)">2 Comments</a>
                                    </span>
                                        <span class="link-share">
                                        <a href="javascript:void(0)">Share</a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title mb-4">
                                <a href="blog-detail-left-sidebar.html">Blog Audio Post</a>
                            </h5>
                            <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-6">
                    <div class="blog-item">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/fkoEj95puX0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta text-dim-gray pb-3">
                                <ul>
                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                    <li>
                                        <span class="comments me-3">
                                        <a href="javascript:void(0)">2 Comments</a>
                                    </span>
                                        <span class="link-share">
                                        <a href="javascript:void(0)">Share</a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title mb-4">
                                <a href="blog-detail-left-sidebar.html">Blog Video Post</a>
                            </h5>
                            <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-6">
                    <div class="blog-item">
                        <div class="blog-img img-zoom-effect">
                            <a href="blog-detail-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/blog/medium-size/2-3-570x485.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta text-dim-gray pb-3">
                                <ul>
                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                    <li>
                                        <span class="comments me-3">
                                        <a href="javascript:void(0)">2 Comments</a>
                                    </span>
                                        <span class="link-share">
                                        <a href="javascript:void(0)">Share</a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title mb-4">
                                <a href="blog-detail-left-sidebar.html">Lorem ipsum dolor sit amet consecte</a>
                            </h5>
                            <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-6">
                    <div class="blog-item">
                        <div class="blog-img img-zoom-effect">
                            <a href="blog-detail-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/blog/medium-size/2-4-570x485.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta text-dim-gray pb-3">
                                <ul>
                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                    <li>
                                        <span class="comments me-3">
                                        <a href="javascript:void(0)">2 Comments</a>
                                    </span>
                                        <span class="link-share">
                                        <a href="javascript:void(0)">Share</a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="title mb-4">
                                <a href="blog-detail-left-sidebar.html">Lorem ipsum dolor sit amet consecte</a>
                            </h5>
                            <p class="short-desc mb-5">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor incididunt ut labore gthydolore magna aliqua.</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="blog-detail-left-sidebar.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pagination-area pt-10">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span class="fa fa-chevron-left"></span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span class="fa fa-chevron-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->